{
  "fetch_reports": true,
  "ubs_id": "12345678",
  "download_target_dir": "/home/username/Downloads",

  "logging_file": "ledupt.log",

  "mbank_id": "12345678",
  "mbank_pwd": "hunter2",

  "tw_id": "email@gmail.com",
  "tw_pwd": "hunter2"
}
