[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
CurrencyConverter = ">=0.14.1"
click = "==7.0"
pyuserinput = "*"
requests = "==2.25.*"
selenium = ">=3.141.0"
selenium-wire = "*"

[dev-packages]
bpython = "*"
"flake8" = "*"
yapf = "*"
isort = "*"
coverage = "*"
mypy = "*"
types-requests = "==2.25.*"
packaging = "*"
